{include file="public/header" /}

<body>
<article class="page-container">
  <form  method="post" class="form form-horizontal" id="form">


    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">项目名称：</label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$data.name}" placeholder="" id="username" name="name">
      </div>
    </div>

    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">项目海报：</label>
      <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="" id="uploadfile" placeholder="....\{$data.img}"  style="width:455px">
				<a href="javascript:void(0);" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览图片</a>
				<input type="file" multiple name="img" class="input-file">
				</span> </div>
    </div>

    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">遮盖图：</label>
      <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="" placeholder="....\{$data.image}" style="width:455px">
				<a href="javascript:void(0);" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览图片</a>
				<input type="file" multiple name="image" class="input-file">
				</span> </div>
    </div>

    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">呈现方式：</label>
      <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="display">
                    {if($data.display==0)}
                    <option value="0" selected>电影</option>
					<option value="1">电视剧</option>
                    {else/}
                    <option value="0" >电影</option>
					<option value="1" selected>电视剧</option>
                    {/if}

				</select>
				</span>
      </div>
    </div>
      <input type="hidden" value="{$data.id}" name="id">
    <div class="row cl">
      <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
        <a onclick="product_edit()" class="btn btn-primary radius" href="javascript:;"> 保存并发布</a>
        <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
      </div>
    </div>
  </form>
</article>
</body>
{include file="public/footer" /}

<script type="text/javascript">
        function product_edit(){
            var form = new FormData($("#form")[0]);
            $.ajax({
                url: '{:url("ajaxEdit")}',
                type: 'post',
                data: form,
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                dataType: 'json',
                success:function (data) {
                    layer.msg(data,{icon:2,time:1500});
                },error: function (XmlHttpRequest, textStatus, errorThrown) {
                    layer.msg('修改成功！', {icon: 1, time: 1300}, function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload(); //刷新父页面
                        parent.layer.close(index);
                    });
                }
            });





        }



</script>
