{include file="public/header" /}

<body>
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl">

			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl">
					<li><img src="/logo.png" alt="logo" width="300px;"></li>
			    </ul>
		</nav>
		<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				{if $name == 'root'}
				<li>超级管理员，<span style="color: #c6151b;font-size: 25px;">{$name}</span></li>
				<li style="margin-left: 50px;"><a href="{:url('Login/checkout')}">退出 <i class="Hui-iconfont">&#xe726;</i></a></li>
				{else/}
				<li>普通管理员，<span style="color: #c6151b;font-size: 25px;">{$name}</span></li>
				<li style="margin-left: 50px;"><a href="{:url('Login/checkout')}">退出 <i class="Hui-iconfont">&#xe726;</i></a></li>
				{/if}
			</ul>
		</nav>
	</div>
</div>
</header>
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('article/index')}" data-title="资讯管理" href="javascript:void(0)">资讯管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('business/index')}" data-title="业务管理" href="javascript:void(0)">业务管理</a></li>
					<li><a data-href="{:url('project/index')}" data-title="项目管理" href="javascript:void(0)">项目管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('background/index')}" data-title="背景管理" href="javascript:void(0)">背景管理</a></li>
					<li><a data-href="{:url('Joinus/index')}" data-title="招聘管理" href="javascript:void(0)">招聘管理</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('Admin/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>

	

		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('cate/cate')}" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
				</ul>
			</dd>
		</dl>


	</div>


</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs" >
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active">
					<span title="登录" >登录</span>
					<em></em>
				</li>
		    </ul>
	    </div>
    </div>

	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src={:url("index/welcome")}></iframe>
	</div>

   </div>
</section>
</body>
{include file="public/footer" /}
