<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <meta name="description" content="国安新桥（北京）影视传媒投资有限公司，是中信国安集团布局影视产业、打造国际化电影工业体系的
    重要举措，是面向国际影视产业的重要平台。公司自2014年建立以来，作为国安新桥影视特效基地的投资运营主体，一直致力于打造国际化的
    电影特效及影视后期制作产业核心力量。基地不仅配备了国际一流的全数字、网络化、集群化的电影特效制作硬件以及影视后期音视频制作系
    统等，而且凭借丰富的国内外行业资源，与影视各界人士构建多方合作。">
    <meta name="keywords" content="影棚租赁,数字棚,绿幕棚,动捕棚,后期制作,影视培训,影视特效,中国特效公司,视效,视效制作,
    特效,特效制作,特效公司,特效解析,电影后期,CG,CG制作,三维制作，三维，数字制作,国内特效,外景租赁"/>  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="shortcut icon" type="image/x-icon" href="__HOMES__/images/ico.ico" media="screen">
    <title>中信国安新桥影视基地-业务范围</title>
    <link rel="stylesheet" type="text/css" href="__HOMES__/css/comm.css"/>
    <link rel="stylesheet" type="text/css" href="__HOMES__/css/service.css"/>
    <link href="__HOMES__/css/perfect-scrollbar.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js "></script>
    <script src="__HOMES__/js/service.js"></script>
    <script src="__HOMES__/js/perfect-scrollbar.with-mousewheel.min.js"></script>

</head>
<!--[if lt IE 9]>
<script type="text/javascript">
    document.write("<div style='position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; width: 100%; height: 100%; padding-top: 200px;  background-color: #fff'><P  style='font-size: 16px; text-align: center'>您正在使用 Internet Explorer 低版本，在本页面的显示效果可能有差异，建议您升级到IE9及以上版本或使用其他浏览器</P></div>")
</script>
<![endif]-->

<style>
    .big_ul li:nth-child(2) a{color:#c72028}
    .current{background: url("/static/home/images/qqps_meng.png");isolation: isolate;}
    .current_no_support{background: url("/static/home/images/qqps2.png"); }
</style>
<body>
{include file="public/header" /}
{include file="public/nav" /}
<div class="life_bg" ><img src="__HOMES__/images/qqps.jpg" width="100%" height="100%"/></div>
<div class="mix_main">
    <div class="lright"><img src="" alt=""></div>
    <aside ><ul></ul></aside>
</div>
</body>
</html>
<script>
    document.documentElement.style.fontSize=document.documentElement.clientWidth / 1920 * 100 + 'px';
</script>
