

{include file="public/header" /}
<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 招聘列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">

		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l">
				<a href="javascript:;" onclick="recruit_dataDel()"  class="btn btn-danger radius dataDel"><i class="Hui-iconfont">&#xe6e2;</i>批量删除</a>
			    <a class="btn btn-primary radius" onclick="recruit_add('添加职位','{:url(\'recruitadd\')}','1000')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加职位</a>
			</span>

			<span class="r">共有数据：<strong> {$count}</strong> 条</span> </div>

		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover ">
				<thead>
					<tr class="text-c">
						<th width="80"><input name="" type="checkbox" value=""></th>
						<th width="150">招聘职位</th>
						<th>详细描述</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
				{foreach name="data" item="vo"}
					<tr class="text-c va-m">
						<td><input name="dataCheck" type="checkbox" value="{$vo.id}"></td>
						<td class="text-l">{$vo.name}</td>
						<td class="text-l">{$vo.content}</td>
						<td class="td-manage">
							<a style="text-decoration:none" class="ml-5" onClick="recruit_edit('职位编辑','{:url(\'recruitedit\',array(\'id\'=>$vo.id))}','1000')" href="javascript:;" title="编辑">
								<i class="Hui-iconfont">&#xe6df;</i></a>
							<a style="text-decoration:none" class="ml-5" onClick="recruit_del(this,'{$vo.id}')" href="javascript:;" title="删除">
								<i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
		</div>

	</div>

</body>


	{include file="public/footer" /}

<script type="text/javascript">
/*招聘-添加*/
function recruit_add(title,url,w,h){
    layer_show(title,url,w,h);
}
/*招聘-删除*/
function del(id,tr){
    layer.confirm("确定要删除所选内容吗？",function () {
        $.ajax({
            type: 'POST',
            url: '{:url("del")}',
            data:{'id':id},
            dataType: 'json',
            success: function(data){
                layer.msg(data,{icon:2,time:1500});
            }
            ,error:function() {
                layer.msg('已删除!',{icon:1,time:1000});
                for(var i=0;i<tr.length;i++){
                    tr[i].remove();
                }
                var content=($('.r>strong').html())-tr.length;
                $('.r>strong').html(content);
            }
        });
    });
}

/*招聘-单个删除*/
function recruit_del(obj,id){
    var tr=$(obj).parents("tr");
    del(id,tr);
}
/*招聘-批量删除*/
function recruit_dataDel(){
    var checkLen=$("input[name='dataCheck']:checked").length;
    if(checkLen==0){
        layer.msg("请至少选择一项",{icon:7,time:2000});
        return;
    }
    var checkList= new Array(),checkTr=new Array();
    $("input[name='dataCheck']:checked").each(function(){
        checkList.push($(this).val());
        checkTr.push($(this).parents("tr"));
    });
     del(checkList,checkTr);

}
/*招聘-编辑*/
function recruit_edit(title,url,w,h){
    layer_show(title,url,w,h);
}










</script>

