{include file="public/header" /}


<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	系统管理
	<span class="c-gray en">&gt;</span>
	栏目管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a class="btn btn-primary radius" onclick="system_category_add('添加栏目','cateAdd.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加栏目</a>
		</span>
		<span class="r">共有数据：<strong>54</strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg ">
			<thead>
				<tr class="text-c">
					<th width="80"></th>
					<th>栏目名称</th>
					<th width="240">操作</th>
				</tr>
			</thead>
			<tbody>
			{foreach name="catelist" item="vo"}
			{if condition="$vo.pid eq '0'"}
			<tr class="text-c has_children" style="cursor: pointer">
			<td><input type="checkbox" name="id" value="{$vo.id}"></td>
				<td class="text-l">{$vo.name}<b style="margin-left: 18px;">+</b></td>
			<td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目名修改','{:url(\'cateEdit\',array(\'id\'=>$vo[\'id\'],\'pid\'=>$vo[\'pid\']))}','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
			<a title="删除" href="javascript:;" onclick='system_category_del(this,"{$vo.id}")' class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			{else /}
			<tr class="text-c loop" style="display: none">
				<td><input type="checkbox" name="" value="{$vo.pid}"></td>
				<td class="text-l">{$vo.name}</td>
				<td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目名修改','{:url(\'edit\',array(\'id\'=>$vo[\'id\'],\'pid\'=>$vo[\'pid\']))}','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="删除" href="javascript:;" onclick='system_category_del(this,"{$vo.id}")' class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			{/if}
			{/foreach}
			</tbody>
		</table>
	</div>
</div>
</body>
{include file="public/footer" /}

<script type="text/javascript">
    $(function(){

        $('tbody .has_children').click(function() {
            var one_tr=$(this).find('td').eq(0).children('input').val();
            var  mark= $(this).find("b").html();
            if(mark=='+'){
                $(this).find("b").html("-");
            }else{
                $(this).find("b").html("+");
            }
            $("tbody .loop").each(function(){
                var other_tr=$(this).find('td').eq(0).children('input').val();
                if(one_tr===other_tr){
                    var display=$(this).css('display');
                    if(display== 'none'){
                        $(this).show();
                    }else{
                        $(this).css('display','none');
                    }
                }
            });
        });
    })




/*系统-栏目-添加*/
function system_category_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*系统-栏目-编辑*/
function system_category_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*系统-栏目-删除*/
function system_category_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('del')}",
			dataType: 'json',
			data:{'id':id},
			success: function(data){
                layer.msg(data,{icon:2,time:1500});
			},
			error:function(data) {
                $(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
		});
	});
}

</script>
</body>
</html>