{include file="public/header" /}

<body>
<div class="page-container">
	<form class="form form-horizontal" id="business_add" method="post" action="{:url('photoEditSub')}" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属栏目：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">

				<select name="cid" class="select" id="sel_Sub" >
					{foreach name="data" item="vo"}
                     {if $vo.id == $con.cid}
					   <option value="{$vo.id}" selected> {$vo.name}</option>
					 {else/}
					   <option value="{$vo.id}">{$vo.name}</option>
				       {/if}
					{/foreach}

				</select>
				</span>
			</div>
		</div>
		<br/>
		<!--请上传jpg、png、jpeg格式图片,且大小不允许超过20KB-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">封&nbsp;&nbsp;面&nbsp;&nbsp;图：</label>
			<div class="formControls col-xs-8 col-sm-9">
               <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text"  id="uploadfile" readonly placeholder="{$con.pic}" style="width:400px">
				<a href="javascript:void(0);" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 选择图片</a>
				<input type="file" multiple name="img" class="input-file" id="image_ajax" >
				</span>
			</div>
		</div>
		<input type="hidden" name="id" value="{$con.id}">
		<br/>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并发布</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>


</body>
{include file="public/footer" /}
