{include file="public/header" /}

<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 图片管理 <span class="c-gray en">&gt;</span> 业务管理 <span class="c-gray en">&gt;</span> {$code.name} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a class="btn btn-primary radius" onclick="photo_add('添加图片','{:url(\'pictureAdd\',array(\'cid\'=>$code.id))}','','')" href="javascript:;">
				<i class="Hui-iconfont">&#xe600;</i>
				添加图片
			</a>
		</span>
	</div>
	<div class="portfolio-content">
		<ul class="cl portfolio-area">
			{foreach name="data" item="v"}
			<li class="item">
				<div class="portfoliobox">
					<input class="checkbox" name="checkId" type="checkbox" value="{$v.id}">
					<div class="picbox"><a href="__IMG__/business/{$v.thumb_img}" data-lightbox="gallery" ><img src="__IMG__/business/{$v.thumb_img}"></a></div>
				</div>
			</li>
			{/foreach}
		</ul>
	</div>
</div>
</body>

{include file="public/footer" /}

<script type="text/javascript">
	function photo_add(title,url,w,h){

        layer_show(title,url,1000,h);
	}


  function datadel(){
      var checkLen=$("input[name='checkId']:checked").length;
      if(checkLen==0){
          layer.msg("请至少选择一项",{icon:7,time:2000});
          return;
	  }
      var checkList= new Array();checkLi=new Array();
      $("input[name='checkId']:checked").each(function(){
          checkList.push($(this).val());
          checkLi.push($(this).parents("li"));
      });
      layer.confirm("确定要删除所选图片吗？",function () {
          $.ajax({
              type: 'POST',
              url: '{:url("pictureDel")}',
              data:{'id':checkList},
              dataType: 'json',
              success: function(data){
                  layer.msg(data,{icon:2,time:1500});
              }
              ,error:function() {
                  for(var i=0;i<checkLi.length;i++){
                      checkLi[i].remove();
                  }
                  layer.msg('已删除!',{icon:1,time:1000});
              }
          });



      });





  }

</script>
